@media (max-width: 992px) { 
    .full-page {
        height: auto;
    }
    .main-body-right {
        padding-top: 90px;
        padding-bottom: 40px;
    }
}
@media (min-width: 1536px) { 
    .full-page-left-img img {
        width: 239px;
    }
    .main-body-slanted {
        padding: 10.2rem 0 32px 0;
    }
    .slanted-img-abs img {
        width: 308px;
    }
}